.wp-block-soundcheck-speakable-structured-data {
	border: 1px dashed #ddd;
    padding: 0 1.5em;
    margin-top: 1em;
    color: grey;
    background-color: #eee;
    font-size: small;
    text-align: center;
}