.sign-in {
    display: flex;
    justify-content: center;
    width: 100%;
    &__form{
        padding: $gap $gap;
        margin: $gap*2;
        border: 1px solid $gray;
        width: $gap*16;

        .logo {
            margin-bottom: $gap*2;
        }
    }

    &__button {
        margin: $gap 0;
    }

    &__notice {
        margin: $gap 0;
    }
}