/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #f1f1f1;
$gray-light: #f9f9f9;
$green: #38b54a;

$gap: 16px;
$margin-bottom: $gap*2;

@function svg-data-url($svg-data) {
    @return 'data:image/svg+xml;utf8,'+$svg-data;
}

$soundcheck-icon: '<svg viewBox="0 0 53 53" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>Soundcheck</title><g id="Soundcheck" fill="black"><path d="M37.1598063,1 L16.666899,1 L16.666899,1.02119114 C16.3943259,1.01009102 16.1227512,1 15.8511765,1 C7.09988132,1 0,8.16967043 0,17.0154594 L0,51 L37.1598063,51 C45.9111015,51 53,43.8353751 53,34.9905952 L53,17.0154594 C53,8.16967043 45.9111015,1 37.1598063,1 L37.1598063,1 Z M11.626792,32.1479546 C11.626792,33.1671477 10.8060773,33.9966296 9.79665806,33.9966296 C8.78324511,33.9966296 7.96752256,33.1671477 7.96752256,32.1479546 L7.96752256,23.7673616 C7.96752256,22.743123 8.78324511,21.9186866 9.79665806,21.9186866 C10.8060773,21.9186866 11.626792,22.743123 11.626792,23.7673616 L11.626792,32.1479546 Z M19.0351902,39.8352944 C19.0351902,40.8554966 18.213477,41.6849785 17.2050562,41.6849785 C16.195637,41.6849785 15.3749223,40.8554966 15.3749223,39.8352944 L15.3749223,16.0800218 C15.3749223,15.0547741 16.195637,14.2303376 17.2050562,14.2303376 C18.213477,14.2303376 19.0351902,15.0547741 19.0351902,16.0800218 L19.0351902,39.8352944 Z M27.6606823,33.9179196 C27.6606823,34.9431674 26.8399676,35.7665947 25.8315468,35.7665947 C24.8221276,35.7665947 24.0014129,34.9431674 24.0014129,33.9179196 L24.0014129,21.992351 C24.0014129,20.9721488 24.8221276,20.1426669 25.8315468,20.1426669 C26.8399676,20.1426669 27.6606823,20.9721488 27.6606823,21.992351 L27.6606823,33.9179196 Z M36.2871729,36.0895074 C36.2871729,37.1087005 35.4664582,37.9381824 34.457039,37.9381824 C33.4476198,37.9381824 32.626905,37.1087005 32.626905,36.0895074 L32.626905,19.8207633 C32.626905,18.8005611 33.4476198,17.9710791 34.457039,17.9710791 C35.4664582,17.9710791 36.2871729,18.8005611 36.2871729,19.8207633 L36.2871729,36.0895074 Z M44.8707307,32.1479546 C44.8707307,33.1671477 44.050016,33.9966296 43.0415952,33.9966296 C42.0271838,33.9966296 41.2114613,33.1671477 41.2114613,32.1479546 L41.2114613,23.7673616 C41.2114613,22.743123 42.0271838,21.9186866 43.0415952,21.9186866 C44.050016,21.9186866 44.8707307,22.743123 44.8707307,23.7673616 L44.8707307,32.1479546 Z" id="logo"></path></g></svg>';
$speakable-icon: '<svg viewBox="0 0 78 78" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>Speakable</title><g id="Speakable" fill="black" transform="translate(2.000000, 0.000000)"><path d="M26.4788729,69.9405038 L9.41272422,77.3999991 L12.6487443,62.8196156 C4.92071963,56.3078621 0,46.4867881 0,35.5 C0,15.8938914 15.6700338,2.13162821e-14 35,2.13162821e-14 C54.3299662,2.13162821e-14 70,15.8938914 70,35.5 C70,55.1061086 54.3299662,71 35,71 C32.0609411,71 29.2064934,70.6325615 26.4788729,69.9405038 Z M28.2601921,52.8310547 C32.6326098,44.9247652 37.1284958,38.0443001 41.7479851,32.1894531 C46.3674743,26.3346061 50.6312663,22.1269659 54.539489,19.5664062 C52.8623973,19.012367 51.3051212,18.7353516 49.867614,18.7353516 C47.5765869,18.7353516 45.7385519,19.1471313 44.3534538,19.9707031 C42.9683557,20.794275 41.3025195,22.4713415 39.3558952,25.0019531 C37.1846604,27.8170714 34.1524642,32.9156532 30.2592155,40.2978516 C29.7201503,37.76724 29.0687897,35.9891002 28.305114,34.9633789 C27.5414383,33.9376576 26.4932717,33.4248047 25.1605827,33.4248047 C23.1540623,33.4248047 20.8705565,34.5029189 18.3099968,36.6591797 C20.4962056,37.9619206 22.3903924,40.200505 23.992614,43.375 L24.8236687,45.0595703 C25.1231493,45.6735057 25.4825207,46.4671175 25.9017937,47.4404297 L27.2719108,50.6074219 C27.3917031,50.9069025 27.7211269,51.6481061 28.2601921,52.8310547 Z" id="icon"></path></g></svg>';

.flex-grid {
    display: flex;
    .col {
        flex: 1;
        margin: $gap/2;
    }
}

@media (max-width: 768px) {
    .flex-grid {
      display: block;
    }
  }