.soundcheck-source {

    &__row {
        display:flex;
        width:100%;
        padding:0 $gap;

        &__item {
            flex: 1 1;
            text-align:left;
        }
    }

    &__preview {
        display: flex;
        width: 100%;
        padding:0 $gap;
        flex-direction: row-reverse;
    }
}